@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h3>What are the technologies used?</h3>
        <br />

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <span>.Net Core MVC </span><br />
                <span> Entity Framework</span><br />
                <span> Ajax</span><br />
                <span> Jquery - JavaScript  </span><br />
                <span> Bootstrap </span><br />
                <span> SqlServer</span><br />
                <span> .Net Core Session Base Authorization </span><br />
                <span> ActionFilters </span><br />
                <span> NTier Architecture - Onion Architecture </span><br />
                <span> HangFire </span><br />
                <span> Nlog </span><br />
                <span> Mail Sender </span><br />
            </div>
            <div class="col-md-5"></div>
        </div>
       
    </p>
</div>